* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto';
  box-sizing: border-box;
}
hr {
  height: 2px;
  background-color: #64748b;
  border: none;
  margin: 16px 0;
}

.heading {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.job-details-background-container {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  padding: 20px;
}
@media (min-width: 768px) {
  .job-details-background-container {
    padding: 20px 60px;
  }
}
.job-details-main-container {
  width: 100%;
  background-color: #272727;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .job-details-main-container {
    padding: 30px 20px;
  }
}
.company-data-container {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.company-logo {
  width: 60px;
}
.company-details-container {
  width: 100%;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.employment-type {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
.rating-container {
  display: flex;
}
.rating {
  color: #fff;
  margin-left: 6px;
}
.job-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-details-container {
  display: flex;
}
.package-per-annum {
  text-align: right;
  color: #fff;
  font-weight: 500;
  padding-left: 20px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 16px;
}
.text {
  color: #f1f1f1;
  font-size: 16px;
  padding-left: 4px;
}
.job-description {
  color: #f1f1f1;
  font-size: 14px;
  font-weight: normal;
  padding-top: 10px;
  line-height: 1.5;
}
.website-link-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.website-link {
  text-decoration: none;
  color: #b6c5ff;
}

.skills-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.skill-item {
  width: 50%;
  min-width: 180px;
  max-width: 220px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .skill-item {
    margin-right: 16px;
  }
}
.skill-logo {
  width: 40px;
  margin-right: 20px;
}
.skill-name {
  color: #fff;
}
.life-at-company-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .life-at-company-container {
    flex-direction: row;
  }
}
.life-at-company-description {
  width: 100%;
  color: #fff;
  line-height: 1.5;
}
.life-at-company-image {
  width: 100%;
}
@media (min-width: 768px) {
  .life-at-company-description {
    width: 60%;
    padding: 0 16px 0 0;
  }
  .life-at-company-image {
    width: 40%;
  }
}
.similar-job-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .similar-job-items-container {
    flex-direction: row;
  }
}
