* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.header-container {
  background-color: #272727;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-container {
    padding: 20px 60px;
  }
}
.website-logo {
  width: 100px;
  margin: 0 20px 0;
}
@media (min-width: 768px) {
  .website-logo {
    width: 160px;
    margin: 0;
  }
}
.route-links-container {
  display: flex;
}
@media (max-width: 767px) {
  .route-links-container {
    display: none;
  }
}
.link-name {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin: 0 10px 0 10px;
}
.logout-button {
  width: 100px;
  height: 30px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  color: #fff;
  background-color: #4f46e5;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .logout-button {
    display: none;
  }
}
.small-device-links-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
  list-style-type: none;
}
@media (min-width: 768px) {
  .small-device-links-container {
    display: none;
  }
}

.link-icons,
.logout-button-icon {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  margin: 0 10px;
}
